.sidebar {
  background-color: #0e2840;
  border-radius: 30px;
  flex-direction: column;
  justify-content: space-between;
  width: 356px;
  height: 750px;
  display: flex;
  position: relative; /* Add this */
  z-index: 10; /* Ensure it stays above other content */
}

/* Add this to prevent sidebar from collapsing */
@media (width<=991px) {
  .sidebar {
    width: 280px;
    height: auto;
    min-height: 100px; /* Adjust as needed */
  }
}

@media (width<=640px) {
  .sidebar {
    width: 100%;
    border-radius: 0;
  }
}