.tableContainer {
  background-color: #fff;
  border-width: 1px;
  border-color: #fff;
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0 4px 4px #00000040;
}

.tableHeader {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  display: flex;
}

.tableTitle {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.deleteButton {
  width: 100px;
  color: #fff;
  background-color: #f71414;
  border-radius: 14px;
  padding: 8px 17px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.columnHeaders {
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  display: flex;
}

.tableBody {
  flex-direction: column;
  gap: 15px;
  display: flex;
}
