.restaurant-box{
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 450px;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    /* border: black 1px solid; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container{
    width: 100%;
    height: 50%;
}

.restaurant-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.restaurant-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-bottom: 0;
    padding-top: 5px;
    text-align: left;
    color: black;
}

.restaurant-name{
    margin: 0;
}

.rating-container{
    display: flex;
    font-size: large;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
}

.star{
    font-size: x-large;
    color: #D33223;
}

.reviews{
    align-self: center;
    translate: 0 2px;
    margin-left: 5px;
}

.restaurant-cuisine{
    margin: 0;
    padding: 0;
    text-align: left;
}

.booked-times{
    margin: 5px 0;
    padding: 0;
    text-align: left;
    display: flex;
    gap: 10px;
}

.trend-icon{
    width: 20px;
    height: 20px;
}

.availability{
    margin: 5px 0;
    display: flex;
    gap: 10px;
}

.time-slot{
    font-size: small;
    margin: auto;
    background-color: #D33223;
    color: white;
    padding: 10px 15px;
    align-content: center;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    border-radius: 10px;
}

.time-slot:hover{
    background-color: white;
    color: #D33223;
}

.restaurant-list .restaurant-box-horizontal{
    flex-direction: row;
    width: 100%;
    height: fit-content;
    gap: 10px;
}

.restaurant-list .restaurant-box-horizontal .restaurant-info{
    justify-content: center;
}

.restaurant-box-horizontal .image-container{
    width: 30%;
    height: 220px;
    min-width: 200px;
}

.restaurant-box-horizontal .availability{
    width: fit-content;
}

.restaurant-box-horizontal .restaurant-name{
    margin: 0;
}