/* CSS */
body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Container styling */
.container {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

/* Heading */
h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Input fields and select*/
input, select {
  width: 100%;
  max-width: 100%;
  padding: 12px;
  margin: 12px auto;
  display: block;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
}

/* Checkbox */
.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.checkbox-container input[type="checkbox"] {
  /* appearance: none; */
  width: 15px;
  height: 15px;
  border: 2px solid #555;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  transition: all 0.2s ease-in-out;
}

.checkbox-container input[type="checkbox"]:checked {
  background-color: #2563eb;
  border-color: #2563eb;
}

.checkbox-container input[type="checkbox"]:checked::after {
  content: "✔";
  font-size: 3px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Buttons */
button {
  width: 100%;
  padding: 12px;
  background-color: #0e2840;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

button:hover {
  background-color: #0e2840;
}

/* Links */
p {
  text-align: center;
  margin-top: 10px;
}

a {
  color: #2563eb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2, p {
  text-align: center;
}